name: Push
on:
  push:
    tags: ["v[0-9]+.[0-9]+.[0-9]+", "trigger-push"]

jobs:
  push:
    runs-on: ubuntu-20.04

    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.16
      - name: Install libgtk-3-dev
        run: sudo apt-get update -y && sudo apt-get install -y libgtk-3-dev
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
      - name: Build
        shell: bash
        run: |
          make test
          make copy-test-files
          make
          make tools
      - name: Build and push Docker image
        shell: bash
        run: |
          printf "%s" "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          docker build -f docker/validator-service.Dockerfile -t ${{ secrets.DOCKER_USER }}/trivrost-validator:${GITHUB_REF##*/} .
          docker push ${{ secrets.DOCKER_USER }}/trivrost-validator:${GITHUB_REF##*/}
          docker logout
