name: Push
on:
  push:
    tags: ["v[0-9]+.[0-9]+.[0-9]+", "trigger-push"]
jobs:
  push:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-18.04]
    runs-on: ${{ matrix.platform }}
    env:
      GO111MODULE: "on"
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Install libgtk-3-dev
      if: matrix.platform == 'ubuntu-18.04'
      run: |
        sudo apt-get update -y
        sudo apt-get install -y libgtk-3-dev
    - name: Install goversioninfo
      shell: bash
      run: |
        export GOPATH="${HOME}/go"
        mkdir -p ${GOPATH}/bin
        mkdir -p ${GOPATH}/pkg
        mkdir -p ${GOPATH}/src
        go get github.com/josephspurrier/goversioninfo/cmd/goversioninfo@63e6d1acd3dd857ec6b8c54fbf52e10ce24a8786
    - name: Checkout repository
      uses: actions/checkout@v1
    - name: Test and build
      shell: bash
      run: |
        export GOPATH="${HOME}/go"
        export PATH="${GOPATH}/bin:${PATH}"
        make test
        make copy-test-files
        make
        make tools
    - name: Build and push Docker image
      shell: bash
      run: |
        printf "%s" "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
        docker build -f docker/validator-service.Dockerfile -t trivrost-validator:${GITHUB_REF##*/} .
        docker push trivrost-validator:${GITHUB_REF##*/}
        docker logout
