name: Test
on:
  push:
    tags-ignore: ["v[0-9]+.[0-9]+.[0-9]+.*", "trigger-push"]
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go-version: [ '1.20', '1.17' ]
        platform: [ ubuntu-20.04, macos-13, windows-2019 ]
    runs-on: ${{ matrix.platform }}
    if: always()

    steps:
      - name: Install Go
        uses: actions/setup-go@v5.0.1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install libgtk-3-dev
        if: startsWith(matrix.platform, 'ubuntu')
        run: sudo apt-get update -y && sudo apt-get install -y libgtk-3-dev
      - name: Install UPX (Linux)
        if: startsWith(matrix.platform, 'ubuntu')
        run: sudo apt-get update -y && sudo apt-get install -y upx-ucl
      - name: Install UPX (Windows)
        if: startsWith(matrix.platform, 'windows')
        run: choco install upx -y
      - name: Checkout repository
        uses: actions/checkout@v4.1.6
      - name: Build
        shell: bash
        run: |
          make copy-test-files
          make
          make tools
      - name: Test
        shell: bash
        run: make test
