name: Test
on:
  push:
    tags-ignore: ["v[0-9]+.[0-9]+.[0-9]+", "trigger-push"]
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-18.04, macOS-10.15, windows-2019]
    runs-on: ${{ matrix.platform }}
    env:
      GO111MODULE: "on"

    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install libgtk-3-dev
        if: matrix.platform == 'ubuntu-18.04'
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libgtk-3-dev
      - name: Install goversioninfo
        shell: bash
        run: |
          export GOPATH="${HOME}/go"
          mkdir -p ${GOPATH}/bin
          mkdir -p ${GOPATH}/pkg
          mkdir -p ${GOPATH}/src
          go get github.com/josephspurrier/goversioninfo/cmd/goversioninfo@63e6d1acd3dd857ec6b8c54fbf52e10ce24a8786
      - name: Checkout repository
        uses: actions/checkout@v2.3.2
      - name: Test and build
        shell: bash
        run: |
          export GOPATH="${HOME}/go"
          export PATH="${GOPATH}/bin:${PATH}"
          make test
          make copy-test-files
          make
          make tools
